.store {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2rem;
  font-family: "Montserrat", sans-serif;
  gap: 2rem;
  width: fit-content;
}
.product {
  width: 45%;
  height: 396px;
  background: #ffffff;
  box-shadow: inset 8px 8px 15px #c5d3de;
  border-radius: 23px;
  transition: all 0.3s ease;
  &:hover {
    box-shadow: inset 8px 8px 15px #7b8f9f;
  }
  &__container {
    width: 80%;
    height: 65%;
    margin: 2.5rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2.5rem;
    background: #ebf1f6;
    border-radius: 13px;
    gap: 0.3rem;
  }
  &__info {
    display: flex;
    width: 50%;
    flex-direction: column;
    padding: 0 1rem;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }
  &__price,
  &__category {
    &-title {
      font-size: 14px;
      letter-spacing: 0.07em;
      font-weight: 500;
      text-transform: uppercase;
    }
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 24px;
  }
  &__image {
    width: 40%;
    border-radius: 15px;
    object-fit: cover;
    transition: all 0.3s ease;
    &:hover {
      box-shadow: 0.063rem 0 1.25rem 0 #676d79;
    }
  }
  &__name {
    font-weight: 700;
    font-size: 16px;
  }
  &__description {
    font-weight: 500;
    font-size: 14px;
  }
  &__buyBtn {
    background: #263238;
    box-shadow: 0px 9px 5px rgba(58, 55, 222, 0.12);
    border-radius: 8px;
    color: white;
    padding: 1rem;
    width: 100%;
    font-size: 18px;
    line-height: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      background: white;
      color: black;
    }
  }
  &__rating {
    color: rgb(255, 182, 57);
  }
}
@media (max-width: 1300px) {
  .product {
    height: fit-content;
    &__container {
      width: 80%;
      height: 400px;
      margin: 1.5rem auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1.5rem;
    }
    &__info {
      display: flex;
      width: 80%;
      padding: 0 1rem;
    }
  }
}
@media (max-width: 1120px) {
  .product {
    height: fit-content;
    &__container {
      width: 80%;
      height: 400px;
    }
    &__info {
      width: 80%;
      justify-content: baseline;
    }
    &__price,
    &__category {
      &-title {
        font-size: 12px;
      }
      margin-bottom: 5px;
      font-size: 22px;
    }
    &__image {
      width: 150px;
    }
  }
}
@media (max-width: 910px) {
  .store{
    padding: 1rem;
    gap: 1rem;
  }
  .product {
    height: fit-content;
    width: 90%;
    &__container {
      width: 88%;
      height: fit-content;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
@media (max-width: 680px) {
  .product {
    height: fit-content;
    width: 100%;
    margin-right: 5rem;
    padding: 0 1rem;
    &__container {
      height: fit-content;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
