form{
    margin-bottom: 1rem;
    width: 92%;
    z-index: -1;
}
@media (max-width: 885px) {
  form{
    width: 90%;
  }
}
@media (max-width: 499px) {
  form{
    width: 100%;
  }
  .group{
    flex-direction: column;
  }
}
