.orders {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  color: black;
  &__title {
    font-size: 34px;
    color: #4b4b4b;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
  }
  &__item {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 1rem;
    width: 28%;
  }
  &__header {
    margin-bottom: 1rem;
  }
  &__id {
    font-size: 20px;
    margin-bottom: 0.3rem;
  }
  &__date {
    font-size: 16px;
    color: gray;
  }
  &__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__totalPrice,
  &__status {
    margin-top: 1rem;
    font-size: 24px;
  }
}
.products {
  &__list {
    height: 350px;
  }
  &__item {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    border-bottom: 1px solid #000;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
  }
  &__info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  &__image {
    width: 100px;
    border-radius: 50%;
  }
  &__name {
    font-size: 18px;
  }
  &__description {
    font-size: 16px;
    color: gray;
  }
  &__price {
    font-size: 18px;
  }
}
@media (max-width: 1453px) {
  .orders__item {
    width: 42%;
  }
}
@media (max-width: 1040px) {
  .orders {
    &__list {
      gap: 0.8rem;
    }
    &__totalPrice, &__status{
      font-size: 22px;
    }
  }
  .products {
    &__list {
      height: 250px;
    }
    &__image {
      width: 60px;
      height: 60px;
    }
    &__info {
      gap: 0;
    }
    &__name,
    &__price {
      font-size: 16px;
    }
    &__description {
      font-size: 14px;
    }
  }
}
@media(max-width: 840px){
  .orders{
    &__item{
      width: 80%;
    }
  }
}
@media(max-width: 479px){
  .orders{
    padding: 1rem;
    &__item{
      width: 70%;
    }
    &__totalPrice, &__status{
      font-size: 18px;
    }
  }
  .products{
    &__list{
      height: 300px;
    }
  }
}
